.App {
  text-align: center;
}

#login_box{
  border: 5px solid;
  border-radius: 25px;
  width: 45%;
  height: 22%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  background-color: #F58B00;
}


.login_input_fields{
  background-color: #FFC170;
  font-weight: bold;
}

.login_descriptor{
  text-align: left;
  padding-left: 17%;
  margin: 0px;
  font-size: 12px;
  color:#black;
}



#sign_up{
  padding: 10px;
  padding-left: 25px;
  color: #2f2963;
  font-weight: bold;
}

#sign_in_button{
  padding: 5px;
  margin-top: 5px;
  transition-duration: 0.4s;
  background-color: #454372;
  border: 1px black;
  border-radius: 8px;
  color: white;
  font-weight: bold;
}

#sign_in_button:hover{
  background-color: #2f2963;
}

#join_text{
  color:#DCEAB2;
}

#sign_up_box{
  border: 5px solid;
  border-radius: 25px;
  width: 45%;
  height: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  background-color: #2f2963;
}

.sign_up_input_fields{
  background-color: #454372;
  font-weight: bolder;
  width: 70%;
  padding: 5px;
  color: #DCEAB2;
  margin-bottom: 2px;
}

.sign_up_descriptor{
  text-align: left;
  padding-left: 13%;
  margin: 0px;
  font-size: 12px;
  color:#DCEAB2;
}

#submit_button{
  margin-top: 5px;
  padding: 5px;
  transition-duration: 0.4s;
  background-color: #FFC170;
  border: 1px black;
  border-radius: 8px;
  color: black;
  font-weight: bold;
}

#submit_button:hover{
  background-color: #F58B00;
}

.measurement_fields{
  background-color: #454372;
  font-weight: bolder;
  width: 70%;
  padding: 5px;
  color: black;
  margin-bottom: 2px;
}

.measurements_descriptor{
  text-align: center;
  padding-top: 2px;
  padding-bottom: .75px;  
  margin: 0px;
  font-size: 12px;
  color: black;
}

#measurements_box{
  border: 5px solid;
  border-radius: 25px;
  width: 55%;
  height: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  background-color: #F58B00;
}





#submit_measurement_button{
  padding: 5px;
  margin-top: 5px;
  transition-duration: 0.4s;
  background-color: #454372;
  border: 1px black;
  border-radius: 8px;
  color: #DCEAB2;
  font-weight: bold;
}

#submit_measurement_button:hover{
  background-color: #2f2963;
}

.header{
  background-color: black;
  opacity: 0.80;
  text-align: right;
  padding-right: 10px;
  height: 30px;
}

.header_link{
  color: black;
  padding-left: 10px;
  vertical-align: middle;
  font-weight: bold;
  color: #DCEAB2
}





